/*
		moziloWiki - style.css
		
		A CSS file for moziloWiki. Feel free to change it to your personal purposes.
		
		moziloWiki 2021 <kontakt@mozilo.de>
		*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.4;
  background-color: #f9f9f9
}

html {
  scroll-behavior: smooth;
}

/*Grid*/

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper>* {
  padding: 10px;
  flex: 1 100%;
}

[class*='col-'] {
  flex-basis: 100%;
  max-width: 100%;
  padding: 10px
}

header {
  padding: 10px;
  background: #306897;
  color: #fff;
  margin-bottom: 10px
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.small {
  font-size: .8rem
}

/*Mein Wiki*/

.myWiki {
  padding: 10px
}

.myWiki-header {
  font-weight: 700
}

.myWiki .even,.myWiki .uneven {
  display: flex;
  align-items: center
}

.even>div,.uneven>div {
  width: 50%;
  padding: 10px
}

.summary {
  display: flex;
  justify-content: flex-end
}

select {
  width: 100%;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
}

/*Liste*/

ul {
list-style-position: inside;
}

ul li {
margin-left: 10px
}

ul ul li {
margin-left: 20px
}

ul ul ul li {
margin-left: 30px
}

/*wikiTable*/

.wikiTable {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.wikiTable thead {
  text-align: center;
}

.wikiTable th {
  background: #306897;
  color: #fff;
}

.menubutton {
  background: #306897;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

div.headline {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  background-color: #EEEEEE;
}

div.main {
  display: flex;
  flex-direction: column
}

div.menu {
  float: left;
  margin: 0px;
  padding: 0px;
}

div.menuitem {}

div.allcontent {}

div.description {}

#top,#bottom {
  background: #306897;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
padding: 5px;
}

div.content {}

.submenu {
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
  background: #fff;
}

.submenu:last-of-type {
  margin-bottom: 0
}

div.submenudescription {
  background: #306897;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

div.submenucontent,div.submenucontentscroll {
  padding: 10px;
}

div.submenucontentscroll {
  max-height: 150px;
  overflow: auto;
}

div.wikiinfo {
  color: #999999;
}

a:link {
  color: #eb6236;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.backtotop {
color: #306897; 
margin-right: 10px
}

a.backtotop:hover {
text-decoration: none;
}

a.pending {
  color: #eb6236;
}

a.pending:before {
  content: url('../../pic/nopageicon.gif');
  margin: 0px 4px 3px 0px;
}

a.url {}

a.url:before {
  content: url('../../pic/urlicon.gif');
  margin: 0px 4px 3px 0px;
}

a.page {
  color: #eb6236;
}

a.page:before {
  content: url('../../pic/pageicon.gif');
  margin: 0px 4px 3px 0px;
}

a.file {}

a.file:before {
  content: url('../../pic/fileicon.gif');
  margin: 0px 4px 3px 0px;
}

a.mail {}

a.mail:before {
  content: url('../../pic/mailicon.gif');
  margin: 0px 4px 3px 0px;
}

a.paragraph {}

a.paragraph:before {
  content: url('../../pic/paragraphicon.gif');
  margin: 0px 4px 3px 0px;
}

a.wikiinfolink {}

a.activemenupoint {
  font-weight: 700
}

input.menutext,input.menubutton,select.menu,select.content {}

input {
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: normal;
}

input[type=submit] {
width: initial
}

input.narrow {
  width: 50%;
}

input[type=image] {
  width: initial;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
  background: #fff
}

textarea {
  width: 100%
}

td.even {}

.uneven {
  background: #eee
}

td.summary {}

p.reportok {
  padding: 5px;
  background-color: 228B22;
  color: #fff;
  text-align: center;
}

p.reportwarning {
  padding: 5px;
  background-color: #CC0033;
  color: #fff;
  text-align: center;
}

div.code {
  padding: 5px;
  margin: 5px;
  font-family: monospace;
  background-color: #FAFAFA;
  border: 1px dotted #bbbbbb;
}

p.backlinks {
  padding: 5px;
  margin: 5px;
  margin-bottom: 15px;
  background-color: #FAFAFA;
  border: 1px solid #bbbbbb;
}

.noborder {
  border: none;
}

.changedtodaymarker {
  color: #dd0000;
  font-weight: bold;
}

.changedlastsevendaysmarker {
  color: #dd9900;
  font-weight: bold;
}

em {
  font-style: normal;
  font-weight: normal;
  font: inherit;
}

em.highlight {
  padding: 0px 1px;
  font-size: inherit;
  background-color: #dd0000;
  color: #ffffff;
  font-size: inherit;
}

em.inactivemenupoint {
  font-weight: 700;
  text-decoration: none;
  color: #777777;
}

em.deadlink {
  color: red;
  text-decoration: line-through;
  font-weight: 700;
}

em.bold {
  font-weight: 700;
}

em.italic {
  font-style: italic;
}

em.bolditalic {
  font-weight: bold;
  font-style: italic;
}

em.underlined {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  margin: 5px
}

img.leftcontentimage {
  border: 1px solid;
  max-width: 200px;
  float: left;
}

img.rightcontentimage {
  border: 1px solid;
  max-width: 200px;
  float: right;
}

img.js {
  border: 1px solid #c0c0c0;
  padding: 5px;
  background-color: #fff;
  margin: 2px;
}

img.js:hover {
  background-color: #AFC4DE;
}

img.jss {
  border: 1px solid #c0c0c0;
  padding: 1px;
  background-color: #fff;
  margin: 2px;
}

img.jss:hover {
  background-color: #AFC4DE;
}

div.login_loginbox {}

a.login_wikilink {}

a.login_wikilink:hover {}

h1,h2,h3 {
  color: #306897;
  margin: 10px 0
}

h1 {
  font-size: 1.4rem
}

h2 {
  font-size: 1.2rem
}

h3 {
  font-size: 1.1rem
}

/*Login*/

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". login login ."
    ". login login ."
    ". . . .";
  height: 100vh
}

.login {
  grid-area: login;
  position: relative;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 40px 10px 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
  background: #fff;
  min-width: 300px
}

.login h3 {
  margin: 10px 0;
}

.avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 9;
  background: #73a7cf;
  padding: 5px;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
}


@media only screen and (min-width: 36rem) {

div.main {
flex-direction: row
}

}

@media only screen and (min-width: 48rem) {

  /*Grid*/

  .col-m-1 {
    flex-basis: 8.33%;
    max-width: 8.33%
  }

  .col-m-2 {
    flex-basis: 16.6%;
    max-width: 16.66%
  }

  .col-m-3 {
    flex-basis: 25%;
    max-width: 25%
  }

  .col-m-4 {
    flex-basis: 33.33%;
    max-width: 33.33%
  }

  .col-m-5 {
    flex-basis: 41.67%;
    max-width: 41.67%
  }

  .col-m-6 {
    flex-basis: 50%;
    max-width: 50%
  }

  .col-m-7 {
    flex-basis: 58.33%;
    max-width: 58.33%
  }

  .col-m-8 {
    flex-basis: 66.67%;
    max-width: 66.67%
  }

  .col-m-9 {
    flex-basis: 75%;
    max-width: 75%
  }

  .col-m-10 {
    flex-basis: 83.33%;
    max-width: 83.33%
  }

  .col-m-11 {
    flex-basis: 91.67%;
    max-width: 91.67%
  }

  .col-m-12 {
    flex-basis: 100%;
    max-width: 100%
  }

  /*Login*/

  .login-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . ."
      ". . login . ."
      ". . login . ."
      ". . . . ."
  }

  .avatar {
    top: -50px;
    width: 95px;
    height: 95px;
    padding: 10px;
  }

}

@media only screen and (min-width: 62rem) {}

@media only screen and (min-width: 75rem) {}